body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

h1, h2, h3, h4, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  margin: auto;
}

.content-section_theme_dark {
  color: #F5F5F5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #FEE42A;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 78px;
}
.header__logo-image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.header__menu {
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.header__menu-item {
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__menu-link {
  color: #F5F5F5;
}

.content {
}

.cover {
  padding: 7px 24px 0 20px;
  min-height: 198px;
  background-image: url(../images/cover.svg);
  background-size: 95% auto;
  background-repeat: no-repeat;
  background-position: right center;
}

.cover__title {
  color: #FFF;
  font-family: EB Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.accent-span {
  display: block;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.intro {
  padding: 30px 20px 38px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #CCC;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
}

.intro__title {
  font-size: 16px;
  line-height: 120%;
}

.intro__date {
  font-size: 16px;
  line-height: 120%;
  white-space: nowrap;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #F5F5F5;
  font-size: 16px;
  line-height: 22px;
}

.reasons {
  padding: 40px 20px;
}

.content-section__subtitle {
  font-size: 28px;
  font-family: EB Garamond;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  margin-bottom: 32px;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 32px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 16px;
}
.content-section__list-item {
  line-height: 22px;
}
.content-section__list-accent {
  font-weight: 700;
  line-height: 22px;
}

.how-to {
  padding: 40px 20px 60px;
}

.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 20px;
  border-radius: 30px;
}

.card_theme_dark {
  background: #343434;
}

.card_theme_bright {
  color: #131313;
  background-color: #FEE42A;
}

.card__author {
  margin-bottom: 8px;
}

.card__author-photo {
  display: block;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  margin-bottom: 8px;
}

.card__author-name {
  font-weight: 700;
  line-height: 135%;
}

.card__content {
}

.card__title {
  font-size: 22px;
  font-family: EB Garamond;
  font-weight: 500;
  line-height: 135%;
  margin-bottom: 8px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 21.6px;
}


.footer {
  padding: 20px;
}
