body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

h1, h2, h3, h4, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  margin: auto;
}

.content-section_theme_dark {
  color: #F5F5F5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #FEE42A;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 78px;
}
.header__logo-image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.header__menu {
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.header__menu-item {
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__menu-link {
  color: #F5F5F5;
}

.content {
}

.cover {
  padding: 7px 0 0 20px;
  min-height: 198px;
  background-image: url(../images/cover.svg);
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.intro {
  padding: 30px 20px 38px;
}
.reasons {
  padding: 40px 20px;
}
.how-to {
  padding: 40px 20px 60px;
}
.footer {
  padding: 20px;
}
